.logo{
    width: 100%;
}

h1, h2, h3, h4, a, p, input, button, label, placeholder{
    font-family: 'Roboto', sans-serif;
}

.body {
    background-color: grey;
}
.link-logo{
    width: 15%;
}
.navbar, .modal-content{
    background: #eca498;
    background: -moz-linear-gradient(left, #eca498 0%, #e4553c 0%, #e65c00 0%, #b41e00 100%);
    background: -webkit-linear-gradient(left, #eca498 0%,#e4553c 0%,#e65c00 0%,#b41e00 100%);
    background: linear-gradient(to right, #eca498 0%,#e4553c 0%,#e65c00 0%,#b41e00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eca498', endColorstr='#b41e00',GradientType=1 );
    
}
.form-control {
    border-radius: 0%;
}
.navbar a {
    color: white !important;
    cursor: pointer;
}

.navbar button {
    color: #fff;
    border-color: #203c3d;
    border-radius: 0;
    box-shadow: none !important;
}
.navbar button:hover {
    background-color: #203c3d;
    border-color: #203c3d;
}

.navbar button:active{
    background-color: #203c3d !important;
    border-color: #203c3d !important;

}

.navbar-collapse{
    display: inline-flex;
}
.thead {
    color: white;
    background-color: #203c3d;
}

.cruds  button {
    color: #fff;
    border-color: #203c3d;
    border-radius: 0;
    box-shadow: none !important;
}
.cruds button:hover {
    background-color: #203c3d;
    border-color: #203c3d;
}

.cruds button:active{
    background-color: #203c3d !important;
    border-color: #203c3d !important;
}

.container  button {
    color: black;
    border-color: #203c3d;
    border-radius: 0;
    box-shadow: none !important;
}
.container button:hover {
    background-color: #203c3d;
    border-color: #203c3d;
}

.container button:active{
    background-color: #203c3d !important;
    border-color: #203c3d !important;
}
.form_logo{
    width: 100%;
    height: 10%;
}
.container {
    width: 50%;
    height: auto;
    padding: auto;
    background-color: lightgrey;
}
body, html {
    height: 100%;
}
.cadastro {
    color: white;
}
.modal {
    color: white;
}
.introducao {
    background: url("../img/festa_home.png");
    height: 60%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.introducao h2 {
    margin-top: 12%;
    margin-left: 20%;
    text-align: center;
    color: white;
    position: absolute;
}

.logo_introducao {
    height: 20%;
    width: 25%;
    position: absolute;
    left: 35%;
}
.busca .navbar input, button {
    float: right;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }