.logo{
    width: 100%;
}

h1, h2, h3, h4, a, p, input, button, label, placeholder{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 1.25em;
}

.body {
    background-color: grey;
}
.link-logo{
    width: 15%;
}
.navbar, .modal-content{
    background: #eca498;
    background: -moz-linear-gradient(left, #eca498 0%, #e4553c 0%, #e65c00 0%, #b41e00 100%);
    background: -webkit-linear-gradient(left, #eca498 0%,#e4553c 0%,#e65c00 0%,#b41e00 100%);
    background: linear-gradient(to right, #eca498 0%,#e4553c 0%,#e65c00 0%,#b41e00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eca498', endColorstr='#b41e00',GradientType=1 );
    
}
.form-control {
    border-radius: 0%;
}
.navbar a {
    color: white !important;
    cursor: pointer;
}

.navbar button {
    color: #fff;
    border-color: #203c3d;
    border-radius: 0;
    box-shadow: none !important;
}
.navbar button:hover {
    background-color: #203c3d;
    border-color: #203c3d;
}

.navbar button:active{
    background-color: #203c3d !important;
    border-color: #203c3d !important;

}

.navbar-collapse{
    display: inline-flex;
}
.thead {
    color: white;
    background-color: #203c3d;
}
.cruds {
    background-color: #7f8c8d;
    display: inline;
    align-items: center;
}
.cruds  button {
    color: #fff;
    border-color: #203c3d;
    border-radius: 0;
    box-shadow: none !important;
}
.cruds button:hover {
    background-color: #203c3d;
    border-color: #203c3d;
}

.cruds button:active{
    background-color: #203c3d !important;
    border-color: #203c3d !important;
}

.container  button {
    color: #fff;
    border-color: #203c3d;
    border-radius: 0;
    box-shadow: none !important;
}
.container button:hover {
    background-color: #203c3d;
    border-color: #203c3d;
}

.container button:active{
    background-color: #203c3d !important;
    border-color: #203c3d !important;
}

.container_form  button {
    color: black;
    border-color: #203c3d;
    border-radius: 0;
    box-shadow: none !important;
}
.container_form button:hover {
    background-color: #203c3d;
    border-color: #203c3d;
}

.container_form button:active{
    background-color: #203c3d !important;
    border-color: #203c3d !important;
}
.form_logo{
    width: 100%;
    height: 10%;
}
.container_form {
    width: 60%;
    margin: 0 auto;
    padding: 0 15px;
    height: auto;
    padding: auto;
    background-color: lightgrey;
}
body, html {
    height: 100%;
}
.cadastro {
    color: white;
}
.modal {
    color: white;
}
.introducao {
    background: url("../img/festa_home.png");
    height: 60%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.introducao h2 {
    margin-top: 5%;
    font-size: 1.5em; 
    text-align: center;
    color: white;
    font-weight: 700;
    position: absolute;
}


.logo_introducao {
    width: 25%;
    position: absolute;
    top: 10%;
}

.busca .navbar input, button {
    float: right;
}

.listagem{
    padding: 30px 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    border-radius: 0;
    display: flex;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: #ecf0f1;
    align-items: center;
  }

  .card .more{
      width: 100%;
  }

  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #203c3d;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  .img {
    height: 250px;
    width: 250px;
  }
  .img img{
      width: 100%;
      height: 100%;
  }

@media screen and (max-width: 768px){
    .introducao h2{
        font-size: 1em;
    }
    .card{
        display: flex;
        align-items: center;
    }
    .img {
    height: 150px;
    width: 150px;
    }
    .container_form {
        width: 90%;
    }
    .container_form input{
        width: 100%;
    }
}
@media screen and (max-width: 426px){
    .logo_introducao{
        width: 50%;
    }
}
.page-footer {
    color: white;
    background: #eca498;
    background: -moz-linear-gradient(left, #eca498 0%, #e4553c 0%, #e65c00 0%, #b41e00 100%);
    background: -webkit-linear-gradient(left, #eca498 0%,#e4553c 0%,#e65c00 0%,#b41e00 100%);
    background: linear-gradient(to right, #eca498 0%,#e4553c 0%,#e65c00 0%,#b41e00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eca498', endColorstr='#b41e00',GradientType=1 );
}